.c1{
    background-image: url(../images/capricorn1.png);
}
.cb1{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c2{
    background-image: url(../images/aquarius2.png);
}
.cb2{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c3{
    background-image: url(../images/fische3.png);
}
.cb3{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c4{
    background-image: url(../images/aries4.png);
}
.cb4{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c5{
    background-image: url(../images/taurus5.png);
}
.cb5{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c6{
    background-image: url(../images/gemini6.png);
}
.cb6{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c7{
    background-image: url(../images/cancer7.png);
}
.cb7{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c8{
    background-image: url(../images/leo8.png);
}
.cb8{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c9{
    background-image: url(../images/virgo9.png);
}
.cb9{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c10{
    background-image: url(../images/libra10.png);
}
.cb10{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.c11{
    background-image: url(../images/scorpio11.png);
    }
.cb11{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    }
.c12{
    background-image: url(../images/sagittarius12.png);
}
.cb12{
    background-image: url(../images/white.png);
    opacity: 0.7;
    animation-name: cover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
@keyframes cover{
    0%{
        top:   0px;
        left: 230px;
        height:200px;
        width: 200px;
    }
    100%{
        top:  0px;
        left: 230px;
        width: 200px;
        height: 0px;
    }
}
