.d0101::after{
    content: "元旦";
    color: #FF0000;
    }
.d0214::after{
    content: "情人節";
    color: #FF0DFF;
    }
.d0228::after{
    content: "228 紀念日";
    color: #FF0000;
    }
.d0308::after{
    content: "婦女節";
    color: #FF0DFF;
    }
.d0404::after{
    content: "兒童節";
    color: #FF0000;
    }
.d0501::after{
    content: "勞動節";
    color: #FF0000;
    }
.d0903::after{
    content: "軍人節";
    color: #FF0DFF;
    }
.d0928::after{
    content: "教師節";
    color: #FF0DFF;
    }
.d1010::after{
    content: "國慶日";
    color: #FF0000;
    }
.d1225::after{
    content: "聖誕節";
    color: #FF0DFF;
    }