.flip {
    position: absolute;
    color: #000000;
    font-size: 30px;
    opacity: 0;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 99;
}

@keyframes move {
    0% {
        transform: translate(0) rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: translateY(20px) rotate(-360deg);
        opacity: 1;
    }
}

.message{
    position: absolute;
    top: 270px;
    right: -100px;
    width: 165px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 10px;
    animation-name: message;
    animation-duration: 6s;
    animation-iteration-count:infinite;
    box-shadow: 0 5px 20px #FFFFFF;
    opacity: 0.7;
    font-style: italic;
    font-weight: bold;
}
@keyframes message{
    0%{
        top: 270px;
    }
    50%{
        top: 330px;
    }
    100%{
        top: 270px;
    }
}
.poetry{
    text-align: center;
    line-height: 25px;
}
.triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 10px 0px 10px;
    border-color: #FFFFFF transparent transparent ;
    transform: rotate(40deg);
    position: absolute;
    top: 88px;
    right: 140px;
}