.star{
    width: 100%;
    height: 100%;
    position: relative;
}
.st1{
    width: 50px;
    height: 50px;
    background-image: url(../images/star-golden.png);
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFFFFF;
    animation-name: st1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; 
    opacity: 0;   
}
@keyframes st1{
    90%{
        right: 10px;
        top:10px;
        opacity: 0;
    }
    93%{
        right: 85px;
        top: 85px;
        opacity: 1;
    }
    96%{
        right: 160px;
        top: 160px;
    }
    99%{
        right: 235px;
        top: 235px;
    }
    100%{
        right: 310px;
        top: 310px;
    }
}
.st2{
    width: 50px;
    height: 50px;
    background-image: url(../images/star-golden.png);
    position: absolute;
    left: 350px;
    top: 200px;
    color: #FFFFFF;
    animation-name: st2;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; 
    opacity: 0;   
}
@keyframes st2{
    90%{
        left: 350px;
        top: 200px;
        opacity: 0;
    }
    93%{
        left: 275px;
        top: 280px;
        opacity: 1;
    }
    96%{
        left: 200px;
        top: 360px;
    }
    99%{
        left: 125px;
        top: 440px;
    }
    100%{
        left: 50px;
        top: 500px;
    }
}
.st3{
    width: 50px;
    height: 50px;
    background-image: url(../images/star-golden.png);
    position: absolute;
    right: 320px;
    top: 280px;
    color: #FFFFFF;
    animation-name: st3;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; 
    opacity: 0;   
}
@keyframes st3{
    90%{
        right: 320px;
        top: 280px;
        opacity: 0;
    }
    93%{
        right: 395px;
        top: 355px;
        opacity: 1;
    }
    96%{
        right: 470px;
        top: 430px;
    }
    99%{
        right: 545px;
        top: 505px;
    }
    100%{
        right: 620px;
        top: 580px;
    }
}
.st4{
    width: 50px;
    height: 50px;
    background-image: url(../images/star-golden.png);
    position: absolute;
    right: 430px;
    top: 80px;
    color: #FFFFFF;
    animation-name: st4;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; 
    opacity: 0;   
}
@keyframes st4{
    90%{
        right: 430px;
        top: 80px;
        opacity: 0;
    }
    93%{
        right: 505px;
        top: 155px;
        opacity: 1;
    }
    96%{
        right: 580px;
        top: 230px;
    }
    99%{
        right: 655px;
        top: 305px;
    }
    100%{
        right: 730px;
        top: 380px;
    }
}
.st5{
    width: 50px;
    height: 50px;
    background-image: url(../images/star-golden.png);
    position: absolute;
    left: 400px;
    top: 100px;
    color: #FFFFFF;
    animation-name: st5;
    animation-duration: 11s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; 
    opacity: 0;   
}
@keyframes st5{
    90%{
        left: 400px;
        top: 100px;
        opacity: 0;
    }
    93%{
        left: 325px;
        top: 175px;
        opacity: 1;
    }
    96%{
        left: 250px;
        top: 250px;
    }
    99%{
        left: 175px;
        top: 325px;
    }
    100%{
        left: 100px;
        top: 400px;
    }
}
.st6{
    width: 33px;
    height: 33px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 70px;
}
.st7{
    width: 36px;
    height: 36px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    top:40px;
    left:30px
}
.st8{
    width: 28px;
    height: 28px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    top:70px;
    left:60px
}
.st9{
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    top:110px;
    left:35px
}
.st10{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top:130px;
    left:70px
}
.st11{
    width: 36px;
    height: 36px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    top:165px;
    left:105px
}
.st12{
    width: 28px;
    height: 28px;
    position: absolute;
    background-image: url(../images/stars-white.png);
    animation-name: stt;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    top:160px;
    left:160px
}
@keyframes stt{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
